body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #7581a1;
    line-height: 26px;
}

h1 {
    font-size: 80px;
    font-weight: 600;
    line-height: 1.1;
    letter-spacing: -2.5px;
    color: #192b59;
    max-width: 540px;
}

.nav {
    font-size: 12px;
    font-weight: 700;
    color: #6e7ea9;
    text-transform: uppercase;
    list-style: none;

    display: flex;
}

.btn-free {
    color: #fff;
    background-color: dodgerblue;
    font-size: 11px;
    font-weight: 400;
    letter-spacing: 1.9px;
    padding: 22px 57px;
    text-decoration: none;
}

.grid h2 {
    color: #192b59;
    font-size: 40px;
    font-weight: 700;
}

.grid h2 span {
    display: block;
    color: #1085e4;
    font-size: 14px;
}

.grid-item h3 {
    color: #192b59;
    font-size: 20px;
    font-weight: 600;
}

.grid-item a {
    color: #1085e4;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}