body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #7581a1;
  line-height: 26px;
}

.wrap {
  max-width: 1110px;
  margin: 0 auto;
}

h1 {
  font-size: 80px;
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -2.5px;
  color: #192b59;
  max-width: 540px;
  margin-bottom: 65px;
}

.title-h2 {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -1.5px;
  line-height: 1.2;
  color: #192b59;
}

.title-h2 span {
  display: block;
  text-transform: uppercase;
  color: #1085e4;
  font-size: 16px;
  font-weight: 800;
  letter-spacing: 3px;
  margin-bottom: 11px;
}

.btn-primary {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #1085e4;
  border: 1px solid #1085e4;
  padding: 20px 42px;
  border-radius: 30px;
  transition: 0.3s;
}

.btn-primary:focus {
  outline: 1px dotted #6e7ea9;
}

.btn-primary:hover {
  color: #1085e4;
  background-color: #fff;
}

.btn-secondary {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #7e8bae;
  background-color: #cbdbe8;
  border: 1px solid #cbdbe8;
  padding: 20px 42px;
  border-radius: 30px;
  transition: 0.3s;
}

.btn-secondary:hover {
  color: #cbdbe8;
  background-color: #7e8bae;
  border: 1px solid #7e8bae;
}

.btn-secondary:focus {
  outline: 1px dotted #6e7ea9;
}

.btn-info {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2.5px;
  text-decoration: none;
  text-transform: uppercase;
  color: #8085b1;
  background-color: transparent;
  border: 1px solid #dce1e5;
  padding: 20px 42px;
  border-radius: 30px;
  transition: 0.3s;
}

.btn-info:focus {
  outline: 1px dotted #6e7ea9;
}

/* page-header */

.box-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 305px;
  padding-top: 40px;
}

.logo {
  display: block;
  width: 181px;
  height: 49px;
  background-image: url(../images/logo.png);
}

.nav {
  font-size: 12px;
  font-weight: 700;
  color: #6e7ea9;
  text-transform: uppercase;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.nav>li {
  padding: 0 20px;
}

.nav a {
  text-decoration: none;
  letter-spacing: 2.5px;
  color: #6e7ea9;
  transition: 0.3s;
}

.nav-item:hover {
  color: #4d6094;
  text-shadow: 5px 2px 5px #8591b1;
}

.nav .btn-free {
  color: #fff;
  font-weight: 400;
  letter-spacing: 1.9px;
  padding: 21px 54px;
}

.nav .btn-free:hover {
  color: #1085e4;
}

.btn-group a+a {
  margin-left: 14px;
}

.screen-img {
  display: block;
  position: absolute;
  right: 0px;
  top: 175px;
  background-image: url(../images/bg.png);
  width: 891px;
  height: 736px;
}

/* page-company */

.list-company {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
  padding: 0;
  margin: 0 auto;
  max-width: 1110px;
}

.list-company-item {
  display: block;
}

.company-one {
  background-image: url(../images/token.png);
  background-repeat: no-repeat;
  flex-basis: 200px;
  height: 59px;
}

.company-two {
  background-image: url(../images/magneto.png);
  background-repeat: no-repeat;
  flex-basis: 200px;
  height: 69px;
}

.company-three {
  background-image: url(../images/boohoo.png);
  background-repeat: no-repeat;
  flex-basis: 201px;
  height: 47px;
}

.company-four {
  background-image: url(../images/fractal.png);
  background-repeat: no-repeat;
  flex-basis: 200px;
  height: 69px;
}

/* page-grid */

.page-grid {
  padding: 68px 0 99px 0;
}

.grid {
  max-width: 1110px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 350px 354px 350px;
  justify-content: space-between;
  grid-template-areas: "a c d"
    "b c d "
    "b f g"
    "e f g"
    "e h h";
}

.grid-title {
  grid-area: a;
}

.grid-item-1 {
  grid-area: b;
}

.grid-item-2 {
  grid-area: c;
}

.grid-item-3 {
  grid-area: d;
}

.grid-item-4 {
  grid-area: e;
}

.grid-item-5 {
  grid-area: f;
}

.grid-item-6 {
  grid-area: g;
}

.grid-text {
  grid-area: h;

}

.grid-text .description {
  margin: 0;
  padding: 73px 0px 0px 22px;
}

.grid-text .signature span {
  color: #192b59;
  font-size: 16px;
  font-weight: 700;
  margin: 0;
  padding: 11px 10px 10px 26px;
}

.grid-text .signature {
  color: #1085e4;
  font-size: 14px;
  font-weight: 400;
}

.grid h2 {
  color: #192b59;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 50px;
}

.grid h2 span {
  display: block;
  color: #1085e4;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.grid-item {
  text-align: center;
  padding: 112px 35px 27px 35px;
  box-shadow: 0px 6px 5px #edeaea;
}

.grid-item h3 {
  color: #192b59;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-bottom: 18px;
}

.grid-item a {
  color: #1085e4;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
  transition: 0.3s;
}

.grid-item a:hover {
  text-shadow: 5px 2px 5px #8591b1;
}

.grid-icon {
  display: block;
  background-repeat: no-repeat;
  margin: 0 auto 23px;
}

.grid-icon-1 {
  background-image: url(../images/icon-1.png);
  width: 79px;
  height: 82px;
}

.grid-icon-2 {
  background-image: url(../images/icon-2.png);
  width: 73px;
  height: 79px;
}

.grid-icon-3 {
  background-image: url(../images/icon-3.png);
  width: 89px;
  height: 85px;
}

.grid-icon-4 {
  background-image: url(../images/icon-4.png);
  width: 102px;
  height: 92px;
}

.grid-icon-5 {
  background-image: url(../images/icon-5.png);
  width: 85px;
  height: 90px;
}

.grid-icon-6 {
  background-image: url(../images/icon-6.png);
  width: 100px;
  height: 87px;
}

/* page-subscribe */

.page-subscribe .box-subscribe {
  display: flex;
  justify-content: space-between;
}

.page-subscribe .text {
  margin-top: 25px;
  flex-basis: 542px;
}

.page-subscribe .title-h2 {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -1.5px;
  line-height: 1.2;
  color: #fff;
  margin-bottom: 28px;
}

.page-subscribe .title-h2 span {
  font-size: 14px;
  margin-bottom: 18px;
}

.page-subscribe p {
  display: block;
  max-width: 430px;
  font-size: 18px;
  color: #b1c3ee;
}

.box-subscribe-user {
  margin-top: 40px;
  position: relative;
}

.box-subscribe-user input {
  color: #fff;
  font-size: 14px;
  border: 2px solid #3d56ad;
  border-radius: 30px;
  background-color: transparent;
  padding: 23px 250px 23px 41px;
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.box-subscribe-user input::-webkit-input-placeholder {
  color: #b1c3ee;
}

.box-subscribe-user input::-moz-placeholder {
  color: #b1c3ee;
}

/* Firefox 19+ */
.box-subscribe-user input:-moz-placeholder {
  color: #b1c3ee;
}

/* Firefox 18- */
.box-subscribe-user input:-ms-input-placeholder {
  color: #b1c3ee;
}


.box-subscribe-user button {
  position: absolute;
  top: 9px;
  right: 9px;
  padding: 16px 45px;
  font-size: 14px;
  letter-spacing: 3px;
}

/* page-software */

.page-software {
  position: relative;
}

.page-software-flex {
  display: flex;
  justify-content: flex-end;
}

.page-software-flex>div {
  flex-basis: 53%;
}

.page-software .title-h2 {
  font-size: 50px;
  font-weight: 600;
  letter-spacing: -1.5px;
  line-height: 1.2;
  color: #192b59;
  max-width: 560px;
  margin-top: 6px;
  margin-bottom: 26px;
  padding-left: 22px;
}

.page-software-icon {
  display: block;
  background-image: url(../images/icon.png);
  background-position: 0 0;
  background-repeat: no-repeat;
  width: 115px;
  height: 97px;
}

.page-software p {
  padding-left: 11px;
}

.page-software-list {
  margin-top: 30px;
  padding-left: 10px;
  height: 340px;
  overflow: hidden;
  overflow-y: scroll;
}

.page-software-list dt {
  color: #5a6789;
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 10px;
}

.page-software-list dd {
  font-size: 14px;
  line-height: 1.8;
  margin-left: 0;
  margin-bottom: 46px;
}

.page-software-list::-webkit-scrollbar {
  width: 4 px;
  height: 3px;
}

.page-software-list::-webkit-scrollbar-button {
  background-color: #fff;
}

.page-software-list::-webkit-scrollbar-track-piece {
  width: 4px;
  background-color: #f3f6ff;
}

.page-software-list::-webkit-scrollbar-thumb {
  height: 20px;
  width: 4px;
  background-color: #1085e4;
  border-radius: 3px;
}

.page-software-list::-webkit-scrollbar-corner {
  background-color: #fff;
}

.page-software .screen-img {
  display: block;
  position: absolute;
  left: -23px;
  top: 77px;
  background-image: url(../images/notebook-img.png);
  width: 931px;
  height: 760px;
}

/* page-stat */

.page-stat .title-h2 {
  max-width: 475px;
  text-align: center;
  margin: 0 auto;
}

.list-stat {
  display: flex;
  justify-content: space-around;
  list-style-type: none;
  margin: 80px 0 0;
  padding: 0;
}

.list-stat>li {
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 2px;
  text-align: center;
  color: #1085e4;
  text-transform: uppercase;
}

.list-stat>li>span {
  display: block;
  font-size: 60px;
  letter-spacing: -0.5px;
  color: #bacbdc;
  margin-bottom: 23px;
}

/* page-app */

.page-app-flex {
  display: flex;
  justify-content: flex-start;
}

.page-app-flex>div {
  flex-basis: 55%;
}

.page-app-text {
  font-size: 16px;
  font-weight: 400;
  color: #7581a1;
  line-height: 26px;
}

.page-app h3 {
  text-transform: uppercase;
  color: #c4d2dd;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 3.5px;
}

.page-app-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
}

/* page-analitics */



/* learn-more */



/* page-screen */

.page-screen .title-h2 {
  max-width: 540px;
  font-size: 40px;
  letter-spacing: -1.2px;
  text-align: center;
  margin: 0 auto;
}

.page-screen .title-h2 span {
  letter-spacing: 4.8px;
  margin-bottom: 19px;
}

/* page-clients */



/* page-plan */

.page-plan .title-h2 {
  font-size: 40px;
  letter-spacing: -1.2px;
  text-align: center;
  margin: 0 auto;
}

.page-plan .title-h2 span {
  letter-spacing: 4.8px;
  margin-bottom: 19px;
}

.page-plan .title-h2 {
  margin-bottom: 83px;
}

.page-plan .btn-primary:hover {
  background-color: transparent;
}

.page-plan .btn-info:hover {
  color: #f5faff;
  background-color: #8085b1;
}

.box-price {
  display: flex;
  justify-content: space-between;
}

.box-price--item {
  flex-basis: 350px;
  padding-top: 20px;
  padding-bottom: 97px;
  background-color: #f5faff;
  text-align: center;
}

.box-price--item.active {
  background-color: #192b59;
  color: #fff;
}

.box-price--item ul {
  list-style-type: none;
  padding: 0px;
}

.box-price--item h3 {
  color: #000958;
  font-size: 70px;
  font-weight: 700;
  letter-spacing: -1px;
  text-align: center;
  height: 26px;
  margin-bottom: 34px;
}

.box-price--item.active h3 {
  color: #fff;
}


.box-price--item h3 span {
  font-size: 20px;
}

.box-price--item h3 .grey {
  color: #7b8ab2;
}

.box-price--item strong {
  display: block;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1.5px;
  color: #0084ff;
}

.box-price--item ul {
  display: flex;
  flex-direction: column;
  text-align: center;
  font-size: 14px;
  margin-top: 35px;
  margin-bottom: 50px;
}

.box-price--item ul>li {
  padding-bottom: 14px;
}

.box-price--item a {
  padding: 20px 61px;
}

/* page backgrounds */

.page-header {
  position: relative;
  background-image: url(../images/first-screen-bg.png);
  background-repeat: no-repeat;
  padding-bottom: 328px;
}

.page-company {
  background-image: url(../images/logos-bg.png);
  background-repeat: no-repeat;
  padding: 106px 0px 99px;
}

.page-stat {
  background-color: #edf6ff;
  padding: 113px 0;
}

.page-screen {
  background-color: #edf6ff;
  text-align: center;
  padding: 118px 0 0 0;
}

.page-screen img {
  margin-top: 70px;
  margin-bottom: -7px;
}

.page-subscribe {
  padding: 50px 0px 54px;
  background: rgba(10, 32, 144, 1);
  background: -moz-linear-gradient(-45deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
  background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(10, 32, 144, 1)), color-stop(100%, rgba(35, 120, 205, 1)));
  background: -webkit-linear-gradient(-45deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
  background: -o-linear-gradient(-45deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
  background: -ms-linear-gradient(-45deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
  background: linear-gradient(135deg, rgba(10, 32, 144, 1) 0%, rgba(35, 120, 205, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#0a2090', endColorstr='#2378cd', GradientType=1);
}

.page-software {
  padding-top: 113px;
  background-image: url(../images/bg5.png);
  background-repeat: no-repeat;

}